body
{
   background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
   background-attachment: fixed;

}
.ihta{
  font-size: 70px;
  font-family: monospace;
  color: rgb(46, 96, 147);
}
#pitanje{
font-size: 50px;
color: red;
}
.main{
  height: 200px;
  width:35%;
  margin-left: 500px;

  margin-bottom: 70px;
  padding-top: 30px;
  padding-left: 80px;
}
